@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

:root {
  --background-color: #fff4f4;
  --secondary-color: #e58b8e;
  --main-color: #c25e67;
  --emphasis-color: #f7f5dd;
  --dark-text-color: #252525;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 65%;
  min-height: 100vh;
  width: 100%;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-style: normal;
}

body {
  display: flex;
  background-color: var(--background-color);
  color: var(--dark-text-color);
  font-size: 2rem;
  padding: 3rem;
}

img {
  width: 10rem;
  height: 10rem;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
